/* * {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
} */

.nav-bg {
    background-color: rgba(41, 47, 51, 0.95);
}

/* Atur warna background header */
.header-bg {
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
}

/*Untuk mengatur tampilan ikon*/
.fa {
    padding: 8px;
    font-size: 32px;
    width: 32px;
    height: 32px;
    text-align: center;
    text-decoration: none;
    margin: 10px 4px;
    border-radius: 50%;
}

/*mengatur tampilan ikon facebook*/
.fa-facebook {
    background:white ;
    color: #3B5998;
}

/*mengatur tampilan ikon twitter*/
.fa-twitter {
    background: white ;
    color: #55ACEE;
}

/*mengatur tampilan ikon google*/
.fa-google {
    background: white;
    color: #dd4b39;
}

/*mengatur tampilan ikon linkedin*/
.fa-linkedin {
    background: white;
    color:#007bb5;
}

.fa-facebook:hover {
    /* opacity: 0.7; */
    background:#3B5998 ;
    color: white;
    text-decoration: none;
}

.fa-twitter:hover {
    background:#55ACEE ;
    color: white;
    text-decoration: none;
}

.fa-google:hover {
    background:#dd4b39 ;
    color: white;
    text-decoration: none;
}

.fa-linkedin:hover {
    background:#007bb5 ;
    color: white;
    text-decoration: none;
}

img{
    border: 1px solid #cce0ff;
    padding: 3px;
}

h1{
    color: #003580;
}

h2,h3,h4{
    color: #003580;
    padding-bottom: 0%;
}

h5{
    color: black;
    font-weight: lighter;
}

footer {
    background-color: #001f4d;
    margin-top: 64px;
    text-align: center;
    color: white;
}

footer a {
    color: #99c2ff;
}